<CTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>!</h1>
    <p>Just dropping by to let you know that one of your goals is nearing the end of 10,000 hours. Hurry and finish while there's still time!</p>
  </body>
</html>


