%div.container-fluid
  %div.row
    %h1 About Us
    <br>
    %h4 Get up, get out, go for it!
    <br>
    %p The 10,000 Hour Project is for those willing to sacrifice sleep for passion. This website is designed to help people like you make the most out of their lives by providing incentive to finally get around to doing all of those things that you've always wanted to do. Sound good? Let's get started!
    <br>
    %h4 How it works
    <br>
    %p The 10,000 Hour Project is exactly what it sounds like; a goal or list of goals that you hope to accomplish within the next 10,000 hours. But, here's where the incentive comes in. For each goal that you make, you wager a certain amount of money that will be donated to a charity of your choosing should you not complete that goal by the 10,000 hour deadline. You'll benefit from the experiences that you'll finally be able to check off of your bucket list, and the charities will benefit from your donation. Everybody wins! Sign up and start improving your life today!
