%div.container.col-md-8.center
  %h1 Goals
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th= 'Title'
    %tbody
      - if @goal != nil
        - @goal.each do |g|
          %tr
            %td= g.title
            %td= link_to "More info", goal_path(g)
        = paginate @goal


